/* RESPONSIVENESS */
@media (max-width: 1300px) {

  html{
    font-size: 62.5%;
  }

  .hero .content{
    margin-bottom: 30rem;
  }

  .features{
    min-height: 100vh;
  }
  
  .features-grid{
    grid-template-columns: 1fr;
  }

  .arrow-up-icon{
    width: 5rem;
  }

  embed, .trailer-text{
    display: none;
  }

}

@media (max-width: 768px){
  html{
    font-size: 50%;
  }

  embed, .trailer-text{
    display: none;
  }

  .arrow-up-icon{
    width: 5rem;
  }

  #hamburger-menu{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .profile-side{
    margin-right: 16px;
  }

  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #3A6A89;
    width: 20rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar a{
    display: block;
    margin: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar.active{
    right: 0;
  }

  .hero .content{
    margin-bottom: 30rem;
  }

  .features-grid{
    grid-template-columns: 1fr;
  }

}

/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial;
  color: white;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #252544;
}

/* HOME PAGE */

.arrow-up-icon{
  width: 32px;
}

.to-top{
  background-color: rgba(177, 214, 231, 0.8);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: #3A6A89;
  border-width: 5px;
  font-size: 32px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s;
}

.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.to-top:hover{
  transform: scale(1.1);
}

/* HEADER */
header{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* LEFT SECTION */
.game-logo{
  width: 20rem;
  cursor: pointer;
}

/* MIDDLE SECTION */
.navbar a{
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 700;
  margin: 0 3rem;
}

.navbar a:hover{
  color: black;
}

.navbar .active-link{
  background-color: #b1d6e7;
  color: black;
  border-radius: 4rem;
  padding: 0 0.8rem;
}

.navbar .active-link:hover{
  color: white;
  background-color: black;
}

/* RIGHT SECTION */
.extras{
  display: flex;
}

.profile-side{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic{
  width: 4rem;
  border-radius: 2rem;
  cursor: pointer;
}

.profile-name{
  margin-top: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  color: #B1D6E7;
}

.hamburger-menu{
  display: none;
}

.hamburger-menu:hover{
  opacity: 0.4;
  cursor: pointer;
}

/* HERO */
.hero{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)), url(images/home-background_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  width: 100%;
  background-position: center;
  margin-top: -2rem;
}

.hero .content{
  display: flex;
  padding: 1.4rem 7%;
  max-width: 60rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.video-section{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video-section h1{
  margin-top: 2rem;
}

.video-section embed{
  border: none; 
  border-radius: 1.5rem;
}

.hero .tagline{
  font-style: italic;
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1.5;
}

.hero .game-description{
  font-weight: 200;
  color: #B1D6E7;
  font-size: 1.1em;
  text-align: justify;
  margin-top: 2rem;
  width: 45rem;
}

.play-button{
  display: inline-block;
  border: none;
  color: #B1D6E7;
  background-color: rgba(37, 37, 68, 0.5);
  border-color: #B1D6E7;
  font-weight: bold;
  padding: 1rem 3rem;
  font-size: 2.2em;
  border-radius: 0.8rem;
  border-style: solid;
  border-width: 0.3rem;
  margin-top: 4rem;
  text-decoration: none;
  transition: 0.15s;
}

.play-button:hover{
  transform: scale(1.1);
}

/* .video-section{
  display: flex;
  flex-direction: column;
  align-items: center;
} */


/* FEATURES */
.features{
  position: relative;
  min-height: 200vh;
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)) ,url(images/stars-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
}

.features .content{
  padding: 3rem 7% 1.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.features .features-text{
  font-size: 4em;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.features-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10rem;
  column-gap: 20rem;
  margin-top: 3rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .features-grid{
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.feature-box{
  width: 24rem;
  height: 24rem;
  background-color: rgba(217, 217, 217, 0.2);
  border-color: #B1D6E7;
  border-width: 0.3rem;
  border-style: solid;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.feature-img-1, .feature-img-2, .feature-img-3, .feature-img-4{
  width: 18rem;
  height: 12rem;
  background-color: white;
  align-items: center;
  margin-top: 0.6rem;
  border-radius: 0.6rem;
}

.feature-desc{
  font-weight: 200;
  text-align: center;
  margin-top: 1rem;
}

.feature-box-text{
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.feature-img-1{
  background-image: url(images/chest.gif);
  background-position: center;
  background-size: 20rem;
}

.feature-img-2{
  background-image: url(images/gems.gif);
  background-position: center;
  background-size: 20rem;
}

.feature-img-3{
  background-image: url(images/potion.gif);
  background-position: center;
  background-size: 20rem;
}

.feature-img-4{
  background-image: url(images/coins.gif);
  background-position: center;
  background-size: 25rem;
  background-position: top;
  background-repeat: no-repeat;
}

/* WHERE TO PLAY SECTION */
.play-section{
  position: relative;
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)) , url(images/Obsidian_Citadel.png);
  min-height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
}

.play-section .content{
  padding: 3rem 7% 1.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.play-section .content .text-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-text{
  font-size: 6em;
  margin-top: 2rem;
}

.play-tagline{
  font-size: 2.1em;
  color: #B1D6E7;
}

.available-stores-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15rem;
}

.store-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.store-circles{
  width: 15rem;
  height: 15rem;
  border-radius: 8rem;
  background-color: white;
  flex: 1;
}

.steam-logo{
  padding: 1rem 1rem;
  width: 13rem;
  height: 13rem;
}

.play-store-logo{
  padding: 3rem 3.5rem;
  width: 9rem;
  height: 9rem;
}

.switch-logo{
  padding: 2.5rem 2.5rem;
  width: 10rem;
  height: 10rem;
}

.store-button{
  display: inline-block;
  border: none;
  color: #B1D6E7;
  background-color: rgba(37, 37, 68, 0.5);
  border-color: #B1D6E7;
  font-weight: bold;
  padding: 0.4rem 1.4rem;
  font-size: 2.2em;
  border-radius: 0.8rem;
  border-style: solid;
  border-width: 0.3rem;
  margin-top: 4rem;
  text-decoration: none;
  transition: 0.15s;
}

.store-button:hover{
  transform: scale(1.1);
}

/* FOOTER */
.footer{
  position: relative;
  min-height: 150vh;
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)) , url(images/The\ Necropolis\ of\ the\ Undead.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 180vh;
  width: 100%;
  background-position: center;
}

.footer .content{
  padding: 30rem 7% 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15rem;
}

.footer-logo{
  width: 32rem;
}

.copyright-text{
  text-align: center;
  color: #b1d6e7;
  font-weight: 700;
  font-size: 1.6rem;
}
/* HOME PAGE */


/* CHARACTERS PAGE */

.characters-page{
  position: relative;
  min-height: 230vh;
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)), url(images/stars-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  width: 100%;
  background-position: center;
}

.characters-page .content{
  padding: 3rem 7% 1.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heroes-section-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.characters-page .char-title-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  margin-top: 6rem;
}

.char-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.char-circles:hover{
  transform: scale(1.1);
}

.char-circles{
  background-color: rgba(37, 37, 68, 0.5);
  width: 15rem;
  height: 15rem;
  border-radius: 8rem;
  margin-top: 4rem;
  flex: 1;
  border-style: solid;
  border-color: #B1D6E7;
  border-width: 0.3rem;
  transition: 0.15s;
}

.char-name{
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #3A6A89;
  transition: 0.15s;
}

.char-name:hover{
  transform: scale(1.1);
}

.detail-info-text{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3A6A89;
  margin-top: 8rem;
}

.char-links{
  text-decoration: none;
}


/* CHARACTER DETAIL PAGE */

.char-detail-page{
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)), url(images/42_The\ Wandering\ Isle.png);
  position: relative;
  min-height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  width: 100%;
  background-position: center;
}

.char-detail-page-1{
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)), url(images/22_The\ Kingdom\ of\ Ice.png);
  position: relative;
  min-height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  width: 100%;
  background-position: center;
}

.char-detail-page-2{
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)), url(images/8_The\ Realm\ of\ Fire.png);
  position: relative;
  min-height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  width: 100%;
  background-position: center;
}

.char-detail-page .content, .char-detail-page-1 .content, .char-detail-page-2 .content{
  display: flex;
  flex-direction: column;
  padding: 10rem 7% 1.4rem;
}

.char-detail-page .name, .char-detail-page .role, .char-detail-page-1 .role, .char-detail-page-1 .name, .char-detail-page-2 .name, .char-detail-page-2 .role{
  font-size: 4rem;
}

.char-detail-page .left-sie, .char-detail-page-1 .left-side{
  flex: 1;
  width: 50rem;
}

.char-description{
  display: block;
  font-weight: 200;
  text-align: justify;
  color: #B1D6E7;
  width: 50rem;
  margin-top: 1rem;
}

.play-button-char-page{
  display: inline-block;
  border: none;
  color: #B1D6E7;
  background-color: rgba(37, 37, 68, 0.5);
  border-color: #B1D6E7;
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 2.2em;
  border-radius: 0.8rem;
  border-style: solid;
  border-width: 0.3rem;
  margin-top: 3rem;
  text-decoration: none;
  transition: 0.15s;
}

.play-button-char-page:hover{
  transform: scale(1.1);
}

.animation-grid{
  width: 42rem;
  display: grid;
  grid-template-columns: 1rem 1rem 1rem 1rem;
  column-gap: 10rem;
}

.animation-grid .animation-box{
  background-color: rgba(217, 217, 217, 0.5);
  width: 8rem;
  height: 8rem;
  margin-top: 5rem;
  border-radius: 1rem;
  border-color: #B1D6E7;
  border-style: solid;
  border-width: 0.3rem;
}

.animation_1{
  display: inline-block;
  width: 12rem;
  margin-left: -2rem;
  margin-top: -1.5rem;
}

.judy-animation-1{
  display: inline-block;
  width: 12rem;
  margin-left: -2rem;
  margin-top: -1.8rem;
}

.animation_2{
  display: inline-block;
  width: 12rem;
  margin-left: -2rem;
  margin-top: -2.4rem;
}

.judy-animation-2{
  display: inline-block;
  width: 12rem;
  margin-left: -2rem;
  margin-top: -1.8rem;
}

.animation_3{
  display: inline-block;
  width: 12rem;
  margin-left: 1rem;
  margin-top: -4.6rem;
}

.judy-animation-3{
  display: inline-block;
  width: 12rem;
  margin-left: -1.4rem;
  margin-top: -1.8rem;
}

.animation_4{
  display: inline-block;
  width: 12rem;
  margin-left: -2.3rem;
  margin-top: -2.4rem;
}

.judy-animation-4{
  display: inline-block;
  width: 12rem;
  margin-left: -2rem;
  margin-top: -1.8rem;
}

.potrait-image{
  margin-left: 45rem;
  margin-top: -44.8rem;
  display: block;
  width: 40rem;
}

.potrait-image-1{
  margin-left: 48rem;
  margin-top: -43rem;
  display: block;
  width: 40rem;
}

.potrait-image-2{
  margin-left: 47rem;
  margin-top: -40rem;
  display: block;
  width: 41rem;
}

@media (max-width: 768px){
  .potrait-image-1, .potrait-image, .potrait-image-2{
    display: none;
  }
}

.char-image{
  width: 9rem;
  padding: 1rem 3rem;
  border-radius: 8rem;
}

.char-image-1{
  width: 12rem;
  padding: 1rem 1.5rem;
  border-radius: 8rem;
}

.char-image-2{
  width: 12rem;
  padding: 1rem 1.5rem;
  border-radius: 8rem;
}

/* CHARACTERS PAGE */

/* LOGIN & REGISTER PAGE */

.login-reg-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button, .reg-button{
  color: black;
  font-size: 3em;
  font-weight: 700;
  padding: 1rem 1rem;
  border-style: none;
  cursor: pointer;
  text-decoration: none;
}

.login-button{
  border-bottom-right-radius: 2rem;
  color: white;
  background-color: black;
}

.login-button:hover, .reg-button:hover, .login-button-1:hover, .reg-button-1:hover{
  opacity: 0.5;
}

.reg-button{
  border-bottom-left-radius: 2rem;
  color: black;
  background-color: #B1D6E7;
}

.reg-button-1{
  border-bottom-left-radius: 2rem;
  color: black;
  background-color: #B1D6E7;
  font-size: 3em;
  font-weight: 700;
  padding: 1rem 1rem;
  border-style: none;
  cursor: pointer;
  text-decoration: none;
  background-color: black; 
  color: white;
}

.login-button-1{
  background-color: #b1d6e7; 
  color: black;
  font-size: 3em;
  font-weight: 700;
  padding: 1rem 1rem;
  border-style: none;
  cursor: pointer;
  text-decoration: none;
  border-bottom-right-radius: 2rem;
}

.login-reg-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  overflow: hidden;

}

.reg-account-container{
 display: flex;
 flex-direction: column;
 flex: 1;
 margin-left: 5rem;
 margin-bottom: 10rem;
}

.login-account-container{
  display: inline-block;
  flex-direction: column;
  flex: 1;
  margin-left: 5rem;
  margin-bottom: 30rem;
}

.login-account-container .username{
  margin-bottom: 2rem;
}

.login-account-container .reg-login-button{
  margin-left: 8rem;
}

.login-reg-content input, .login-reg-content select{
  color: rgba(0, 0, 0, 0.5);
  width: 25rem;
  font-size: 1.8rem;
  font-weight: 400;
  border-style: solid;
  margin-top: 2rem;
  border-color: black;
  border-width: 0.15rem;
  border-radius: 0.7rem;
}

.login-reg-content .country{
  width: 28.4rem;
  color: black;
}


.login-reg-content option, .login-reg-content optgroup{
  color: black;
  background-color: #3A6A89;
  color: #B1D6E7;
}

.login-reg-content input:focus{
  color: black;
}


.game-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-bottom: 10rem;
}

.game-info-container-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-bottom: 10rem;
  margin-top: -20rem;
}

.game-info-container .game-title, .game-info-container-1 .game-title{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.game-info-container .game-desc, .game-info-container-1 .game-desc{
  text-align: center;
  width: 30rem;
  font-weight: 200;
  color: #B1D6E7;
  font-size: 1.3rem;
}

.terms-service-container{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 2rem;
}

.agree-check{
  width: 1.5rem;
  height: 1.5rem;
  flex: 1;
}

.agree-text{
  flex: 25;
  margin-left: 1rem;
  font-weight: 200;
  justify-content: left;
  padding-top: 2rem;
}

.policy-text{
  font-weight: 200;
  width: 35rem;
}

.agree-text a, .policy-text a{
  color: #B1D6E7;
}

.reg-login-icon{
  width: 3rem;
}

.username{
  background-image: url(images/user.png);
  position: left;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
  background-size: 2.7rem;
  background-repeat: no-repeat;
}

.password{
  background-image: url(images/padlock.png);
  position: left;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
  background-size: 2.7rem;
  background-repeat: no-repeat;
}

.email{
  background-image: url(images/email.png);
  position: left;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
  background-size: 2.7rem;
  background-repeat: no-repeat;
}

.phone{
  background-image: url(images/smartphone-call.png);
  position: left;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
  background-size: 2.7rem;
  background-repeat: no-repeat;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.country{
  background-image: url(images/placeholder.png);
  position: left;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
  background-size: 2.8rem;
  background-repeat: no-repeat;
}

.reg-login-button{
  display: inline-block;
  border: none;
  color: #B1D6E7;
  background-color: rgba(37, 37, 68, 0.5);
  border-color: #B1D6E7;
  font-weight: bold;
  padding: 1rem 3rem;
  font-size: 2.2em;
  border-radius: 0.8rem;
  border-style: solid;
  border-width: 0.3rem;
  margin-top: 4rem;
  text-decoration: none;
  transition: 0.15s;
  cursor: pointer;
}

.reg-login-button:hover{
  transform: scale(1.1);
}

.error{
  color: red;
  background-color: #e9d7db;
  padding: 1rem;
  display: none;
  width: 30rem;
}

.error.display-error{
  display: block;
  position: absolute;
  transform: translateY(rem);

  z-index: 999;
  
}

.success{
  margin-bottom: 2rem;
  color: green;
  background-color: darkgreen;
  padding: 10px;
  display: none;
  color: lightgreen;
  text-align: center;
}

.success.display-success{
  display: block;
}

input:focus{
  outline: none;
}

/* LOGIN & REGISTER PAGE */

/* FAN ART PAGE */

.fan-arts{
  position: relative;
  min-height: 300vh;
  background-image: linear-gradient(0deg, rgba(37, 37, 68, 0.5), rgba(37, 37, 68, 0.5)) , url(images/stars-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
}

.fan-arts .content-1{
  padding: 10rem 7% 1.4rem;
}

.fan-arts .fan-arts-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center ;
  font-size: 4rem;
  margin-bottom: 8rem;
}

.fan-arts-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-1 .right-side{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 4rem;
}

@media (max-width: 768px) {
  .content-1 .right-side{
    grid-template-columns:1fr;
    margin-left: 2rem;
  }
  
}

.inner-right-side{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
}

@media (max-width: 768px) {
  .inner-right-side{
    grid-template-columns: 1fr;
    width: 2rem;
    margin-left: 5rem;
  }
}

.content-1 .right-side .main-art, .fan-art-box-1, .fan-art-box-2{
  background-color: white;
  border-radius: 2rem;
  border-style: solid;
  border-color: #3A6A89;
  border-width: 0.3rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.fan-art-box {
  width: 31.25rem;
  height: 31.25rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 2rem;
  border-style: solid;
  border-color: #3A6A89;
  border-width: 0.3rem;
}

.fan-art-big{
  background-color: white;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  height: 20rem;
  border-radius: 2rem;
  border-style: solid;
  border-color: #3A6A89;
  border-width: 0.3rem;
  margin-top: 2rem;
}

.fan-art-info{
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  background-color: rgba(37, 37, 68, 0.7);
}

.fan-art-title{
  color: black;
  font-size: 1.5em;
  color: #B1D6E7;
}

.fan-art-author-date{
  color: #3A6A89;
  font-size: 1em;
}

.fan-arts-grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px){
  .fan-arts-grid-2{
    grid-template-columns: 1fr;
  }
}

.right-side-grid-container{
  display: grid;
  grid-template-columns: 1fr;
}

.fan-art-box-3, .fan-art-box-4, .fan-art-box-5{
  background-color: white;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  border-radius: 2rem;
  border-style: solid;
  border-color: #3A6A89;
  border-width: 0.3rem;
  margin-top: 2rem;
}

.fan-art-box-3{
  width: 30rem;
  height: 40rem;
}

.fan-art-box-4, .fan-art-box-5{
  width: 40rem;
  height: 20rem;
}

.fan-art-box{
  background-image: url(images/beast.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #252544; 
}

.fan-art-box-1{
  background-image: url(images/boy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #252544;
}

.fan-art-box-2{
  background-image: url(images/sword.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #252544;
}

.fan-art-box-3{
  background-image: url(images/attack-attack!.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #252544;
}

.fan-art-box-4{
  background-image: url(images/visions-unleashed.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #252544;
}

.fan-art-box-5{
  background-image: url(images/illustrated\ legends.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #252544;
}

.main-art{
  background-image: url(images/lovebirds.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #252544;
}

.fan-art-big{
  background-image: url(images/91_The\ Shimmering\ Vale.png);
  background-size: 100rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #252544;
}

.fan-art-box, .fan-art-big, .main-art, .fan-art-box-1, .fan-art-box-2, .fan-art-box-3, .fan-art-box-4, .fan-art-box-5{
  transition: 0.2s;
  cursor: pointer;
}

.fan-art-box:hover, .fan-art-big:hover, .main-art:hover, .fan-art-box-1:hover, .fan-art-box-2:hover, .fan-art-box-3:hover, .fan-art-box-4:hover, .fan-art-box-5:hover{
  transform: scale(1.1);
}

.fan-arts-grid-2{
  margin-top: 2rem;
}